* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header {
    font-size: 1.2em;
}

#banner {
    color: #ffff;
    height: 50vh;
}

#boas-vindas {
    font-size: 2.8em;
    font-weight: bold;
}

#banner img {
    width: 70%;
}

.sobre-mim {
    color: white;
}

#conhecimentos1 h4 {
    margin-top: 0.8em;
}

.trabalhos a {
    display: block;
    color: white;
    font-size: 1.4em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#formulario textarea {
    resize: none;
}

footer {
    padding: 1.2em;
}

#icon-linkedin {
    margin-right: 1.2em;
}

#icon-github {
    margin-right: 1.2em;
}