* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header {
    border: 1px solid red;
    font-size: 1.2em;
    color: black;
}



#banner {
    border: 1px solid blue;
    color: #ffff;
    height: 50vh;
}

#boas-vindas {
    font-size: 2.8em;
    font-weight: bold;
}

#banner img {
    width: 70%;
}

.sobre-mim {
    border: 1px solid green;
    color: white;
}